#LOADING THE DATA USING PANDAS WEB SCRAPPER

In [1]:
from Load_Data import Data
import pandas as pd

url_23 = "https://admissions.nic.in/wbjeeb/Applicant/report/orcrreport.aspx?enc=b6w3EPyuw0C4FADZ4v1XmYUz0XFq314fzLjkE3wbM2xr/DbsjpvUS9LBCKXjSeSL"
url_24 = "https://admissions.nic.in/wbjeeb/Applicant/report/orcrreport.aspx?enc=Nm7QwHILXclJQSv2YVS+7l8OpFY/O746kfneOXEneV50mv1B/txHsSKB11hFlsvw"

data = Data(url_23, url_24)
df = data.load_data()
df.head()

,Sr.No,Round,Institute,Program,Stream,Seat Type,Quota,Category,Opening Rank,Closing Rank
0,1,Round 1,"Govt. College of Engg. & Textile Technology, B...",Textile Technology (TFW),B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,Tuition Fee Waiver,15646,16893
1,2,Round 1,Govt. College of Engineering & Textile Technol...,Textile Technology (TFW),B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,Tuition Fee Waiver,8471,17571
2,3,Round 1,Goverment College of Engineering and Leather T...,Leather Technology,B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,OBC - B,17065,17794
3,4,Round 1,Goverment College of Engineering and Leather T...,Leather Technology,B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,SC,17582,23649
4,5,Round 1,Goverment College of Engineering and Leather T...,Leather Technology,B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,ST,52409,78492

In [2]:
from Helper_data import Data_Mapping

pre = Data_Mapping()
df= pre.preprocess_dataframe(df)
df.sample(5)

,Round,College_Name,Branch,Domicile,Reservation,Closing Rank,Branch_short
1976,2,Asansol Engineering College Asansol Burdwan,Electronics Communication Engineering,All India,Open,92492,ECE
5487,1,Bankura Unnayani Institute of Engineering Bankura,Computer Science Engineering,All India,Open,62758,CSE
7586,3,Future Institute of Technology Boral Garia,Internet Of Things And Cyber Security Includin...,Home State,Tuition Fee Waiver,45640,CSE
7841,3,Jadavpur University,Food Technology And Bio Chemical Engineering,All India,Open,1603,CHEMICAL
5293,1,Heritage Institute of Technology Kolkata,Biotechnology,All India,Open,92442,BIO-TECH

In [3]:
from Pre_Processing import ManualClassification
from Feature_Engineering import ManualClassification

feature=ManualClassification()
df_ccl = feature.classify_dataframe(df, "College_Name")

In [4]:
df_ccl.sample(5)

,Round,College_Name,Branch,Domicile,Reservation,Closing Rank,Branch_short,college_type
6131,2,Gargi Memorial Institute of Technology Baruipu...,Electronics Communication Engineering,Home State,Tuition Fee Waiver,41150,ECE,Private
1150,1,Future Institute of Engineering & Management S...,Electronics Communication Engineering,Home State,Tuition Fee Waiver,24385,ECE,Private
1972,2,Asansol Engineering College Asansol Burdwan,Computer Science Engineering,All India,Open,159087,CSE,Private
3458,3,Meghnad Saha Institute of Technology Kolkata,Computer Science Engineering,All India,Open,216052,CSE,Private
3067,3,Ghani Khan Choudhury Institute of Engineering ...,Mechanical Engineering,Home State,SC,68325,MECHANICAL,Government

In [5]:
df_ccl=df_ccl.drop(["Branch","College_Name"],axis=1)

In [6]:
df_ccl.sample(5)

,Round,Domicile,Reservation,Closing Rank,Branch_short,college_type
5290,1,Home State,EWS,76855,CSE,Private
964,1,Home State,ST,39199,MECHANICAL,Government
5114,1,Home State,EWS,30744,CSE,Private
6077,2,Home State,Tuition Fee Waiver,44074,EE,Private
5945,2,All India,Open,116205,EE,Government

In [7]:
from Models import Logistic_Model_class
lm=Logistic_Model_class()
Y_ccl=df_ccl["college_type"]
X_ccl=df_ccl.drop(["college_type"],axis=1)
lm.train(X_ccl,Y_ccl)

In [8]:
y_pred_lm=lm.predict()

In [9]:
lm.evaluate()

accuracy:
0.9085855466337245

precision:
0.9083527585643631

recall:
0.9085855466337245

f1_score:
0.9084167474088496

confusion_matrix:
[[545, 80], [68, 926]]

classification_report:
              precision    recall  f1-score   support

           0       0.89      0.87      0.88       625
           1       0.92      0.93      0.93       994

    accuracy                           0.91      1619
   macro avg       0.90      0.90      0.90      1619
weighted avg       0.91      0.91      0.91      1619

In [10]:
from Models import DecisionTree_Model

tree_clf=DecisionTree_Model()
tree_clf.train(X_ccl,Y_ccl)

In [11]:
y_pred_tree=tree_clf.predict()

In [13]:
tree_clf.predict()

array([0, 0, 1, ..., 1, 1, 1], shape=(1619,))

In [16]:
metrics=tree_clf.evaluate()

In [17]:
tree_clf.print_metrics(metrics)

accuracy:
0.8943792464484249

precision:
0.8942906983703116

recall:
0.8943792464484249

f1_score:
0.8943317702711592

confusion_matrix:
[[538, 87], [84, 910]]

classification_report:
              precision    recall  f1-score   support

           0       0.86      0.86      0.86       625
           1       0.91      0.92      0.91       994

    accuracy                           0.89      1619
   macro avg       0.89      0.89      0.89      1619
weighted avg       0.89      0.89      0.89      1619