#LOADING THE DATA USING PANDAS WEB SCRAPPER

In [1]:
from Load_Data import Data
import pandas as pd
from sklearn.linear_model import LogisticRegression

url_23 = "https://admissions.nic.in/wbjeeb/Applicant/report/orcrreport.aspx?enc=b6w3EPyuw0C4FADZ4v1XmYUz0XFq314fzLjkE3wbM2xr/DbsjpvUS9LBCKXjSeSL"
url_24 = "https://admissions.nic.in/wbjeeb/Applicant/report/orcrreport.aspx?enc=Nm7QwHILXclJQSv2YVS+7l8OpFY/O746kfneOXEneV50mv1B/txHsSKB11hFlsvw"

data = Data(url_23, url_24)
df = data.load_data()
df.head()

,Sr.No,Round,Institute,Program,Stream,Seat Type,Quota,Category,Opening Rank,Closing Rank
0,1,Round 1,"Govt. College of Engg. & Textile Technology, B...",Textile Technology (TFW),B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,Tuition Fee Waiver,15646,16893
1,2,Round 1,Govt. College of Engineering & Textile Technol...,Textile Technology (TFW),B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,Tuition Fee Waiver,8471,17571
2,3,Round 1,Goverment College of Engineering and Leather T...,Leather Technology,B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,OBC - B,17065,17794
3,4,Round 1,Goverment College of Engineering and Leather T...,Leather Technology,B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,SC,17582,23649
4,5,Round 1,Goverment College of Engineering and Leather T...,Leather Technology,B.E/B.Tech/B.Arch (WBJEE) Seats),WBJEE Seats,Home State,ST,52409,78492

In [2]:
from Helper_data import Data_Mapping

pre = Data_Mapping()
df= pre.preprocess_dataframe(df)
df.sample(5)

,Round,College_Name,Branch,Domicile,Reservation,Closing Rank,Branch_short
6924,2,ALIPURDUAR GOVERNMENT ENGINEERING AND MANAGEME...,Electrical Engineering,Home State,Open,18900,EE
7209,3,Haldia Institute of Technology Haldia Purba Me...,Civil Engineering,Home State,Tuition Fee Waiver,34161,CIVIL
6758,2,UNIVERSITY INSTITUTE OF TECHNOLOGY BURDWAN UNI...,Information Technology,Home State,OBC - B,11966,IT
2618,2,University Of Calcutta,Chemical Engineering,All India,Open,2701,CHEMICAL
7888,3,Jadavpur University,Computer Science Engineering,Home State,SC,1471,CSE

In [3]:
from Pre_Processing import ManualClassification
from Feature_Engineering import ManualClassification

feature=ManualClassification()
df_ccl = feature.classify_dataframe(df, "College_Name")

In [4]:
df_ccl.sample(5)

,Round,College_Name,Branch,Domicile,Reservation,Closing Rank,Branch_short,college_type
1693,1,JAKIR HOSSAIN INSTITUTE OF PHARMACY,BPharmPharmaceutical Technology,Home State,Tuition Fee Waiver,25413,Other,Private
333,1,Camellia School of Engineering & Technology Ba...,Computer Science Engineering,All India,Open,84787,CSE,Private
454,1,Future Institute of Engineering & Management S...,Computer Science Engineering,All India,Open,29523,CSE,Private
1594,1,Techno Main Salt Lake Sector-V Salt Lake,Computer Science And Business System,Home State,Tuition Fee Waiver,8437,CSE,Private
520,1,Siliguri Institute of Technology Siliguri,Computer Science Engineering,All India,Open,71223,CSE,Private

In [5]:
df_ccl=df_ccl.drop(["Branch","College_Name"],axis=1)

In [6]:
df_ccl.sample(5)

     Round    Domicile Reservation  Closing Rank Branch_short college_type
5924     2  Home State          ST         88950           EE   Government
6561     2   All India        Open        100938   MECHANICAL      Private
3363     3   All India        Open        412420        Other   Government
5479     1   All India        Open        109531          CSE      Private
2674     2   All India        Open         11961          ECE   Government

In [7]:
from Models_ccl import Logistic_Model_class, GradientBoosting_Model

lm=Logistic_Model_class()
Y_ccl=df_ccl["college_type"]
X_ccl=df_ccl.drop(["college_type"],axis=1)
lm.train(X_ccl,Y_ccl)

In [8]:
y_pred_lm=lm.predict()

In [9]:
lm.evaluate()

accuracy:
0.9085855466337245

precision:
0.9083527585643631

recall:
0.9085855466337245

f1_score:
0.9084167474088496

confusion_matrix:
[[545, 80], [68, 926]]

classification_report:
              precision    recall  f1-score   support

           0       0.89      0.87      0.88       625
           1       0.92      0.93      0.93       994

    accuracy                           0.91      1619
   macro avg       0.90      0.90      0.90      1619
weighted avg       0.91      0.91      0.91      1619

In [10]:
from Models_ccl import DecisionTree_Model

tree_clf=DecisionTree_Model()
tree_clf.train(X_ccl,Y_ccl)

In [11]:
y_pred_tree=tree_clf.predict()

In [12]:
tree_clf.predict()

array([0, 0, 1, ..., 1, 1, 1], shape=(1619,))

In [13]:
metrics=tree_clf.evaluate()

In [14]:
tree_clf.print_metrics(metrics)

accuracy:
0.8943792464484249

precision:
0.8942906983703116

recall:
0.8943792464484249

f1_score:
0.8943317702711592

confusion_matrix:
[[538, 87], [84, 910]]

classification_report:
              precision    recall  f1-score   support

           0       0.86      0.86      0.86       625
           1       0.91      0.92      0.91       994

    accuracy                           0.89      1619
   macro avg       0.89      0.89      0.89      1619
weighted avg       0.89      0.89      0.89      1619

In [15]:
from Models_ccl import RandomForest_Model
rf=RandomForest_Model()
rf.train(X_ccl,Y_ccl)

In [16]:
rf.predict()

array([0, 0, 1, ..., 1, 1, 0], shape=(1619,))

In [17]:
rf_metrics=rf.evaluate()

In [18]:
rf.print_metrics(rf_metrics)

accuracy:
0.9092032118591723

precision:
0.9093540618717814

recall:
0.9092032118591723

f1_score:
0.9092696129836373

confusion_matrix:
[[554, 71], [76, 918]]

classification_report:
              precision    recall  f1-score   support

           0       0.88      0.89      0.88       625
           1       0.93      0.92      0.93       994

    accuracy                           0.91      1619
   macro avg       0.90      0.90      0.90      1619
weighted avg       0.91      0.91      0.91      1619

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# âœ… Clean param grid for GridSearchCV
model_and_params = {
    "Logistic Regression": (
        LogisticRegression(max_iter=1000, random_state=42),
        {
            "classifier__C": [0.1, 0.5, 1, 1.5, 10],
            "classifier__solver": ["saga", "lbfgs"],
        },
    ),
    "Decision Tree": (
        DecisionTreeClassifier(random_state=42),
        {
            "classifier__criterion": ["gini", "entropy", "log_loss"],
            "classifier__splitter": ["best", "random"],
            "classifier__max_depth": [1, 2, 3, 4, None],
            "classifier__min_samples_split": [50, 100, 150, 200],
            "classifier__min_samples_leaf": [50, 150, 200],
        },
    ),
    "Random Forest": (
        RandomForestClassifier(random_state=42),
        {
            "classifier__criterion": ["gini", "entropy", "log_loss"],
            "classifier__max_depth": [1, 2, 3, 4, None],
            "classifier__min_samples_split": [50, 100, 150, 200],
            "classifier__min_samples_leaf": [50, 150, 200],
            "classifier__oob_score": [True, False],
        },
    ),
    "Gradient Boosting": (
        GradientBoostingClassifier(random_state=42),
        {
            "classifier__n_estimators": [50, 100],
            "classifier__learning_rate": [0.01, 0.1, 0.2],
            "classifier__max_depth": [3, 5],
        },
    ),
}

In [21]:
from Models_ccl import Best_Model
grid_model=Best_Model(
    model_and_params=model_and_params,
    random_state=42,
    cv=5,
    scoring="accuracy",
    n_jobs=-1,
)

best_name, best_model=grid_model.train_model(X_ccl,Y_ccl)
y_pred=grid_model.predict()
# Evaluating best_performing model
metrics = grid_model.evaluate()

Running GridSearchCV for Logistic Regression
Running GridSearchCV for Decision Tree
Running GridSearchCV for Random Forest
Running GridSearchCV for Gradient Boosting
Best Model: Gradient Boosting, with Score: 0.9342

================ Evaluation Results ================

 Best Model:       Gradient Boosting

 Best Params:      {'classifier__learning_rate': 0.1, 'classifier__max_depth': 5, 'classifier__n_estimators': 100}

 Best CV Score:    0.9342

 Accuracy:         0.9240

 Precision:        0.9245

 Recall:           0.9240

 F1 Score:         0.9242

 Confusion Matrix:
[[566, 54], [69, 930]]

 Classification Report:

              precision    recall  f1-score   support

           0       0.89      0.91      0.90       620
           1       0.95      0.93      0.94       999

    accuracy                           0.92      1619
   macro avg       0.92      0.92      0.92      1619
weighted avg       0.92      0.92      0.92      1619

===================================================